<a href="https://colab.research.google.com/github/joyal8714/Book-store-jwttoken/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PRINT FUNCTION

In [ ]:
print ('machine learning')

machine learning

In [ ]:
print('joy'+'joy')

joyjoy

In [ ]:
print(5+5)

10

#BASIC DATA TYPES
INT
FLOAT
STR

In [ ]:
type(5)

int

In [ ]:
type(.99)

float

#constant and variables

In [ ]:
name='joyal'
print(name)

joyal

In [ ]:
name1,name2,name3=("manu","vinu","binu")
print(name1,name2,name3)

manu vinu binu

#input functions

In [ ]:
g=input('enter your name')

enter your namejoyal

In [ ]:
numb1=int(input("enter the first number"))
numb2=int(input("enter the second number"))
sum=(numb1+numb2)
print(sum)

enter the first number10
enter the second number20
30

#Boolean

In [ ]:
me=False
type(me)

bool

#slicing

In [ ]:
name="joyaljoseph"
print(name[0:5])

joyal

#List
list is mutable obect means we can change after creation list is repersented as []

In [ ]:
my_list=[1,2,34,4,5]
print(my_list)

[1, 2, 34, 4, 5]

In [ ]:
#list can have multiple datatypes
mylist=[1,3.3,333,.3,"joyal","true"]
print(mylist)

[1, 3.3, 333, 0.3, 'joyal', 'true']

In [ ]:
#in list we can add the values
mylist.append("newvalue")
print(mylist)

[1, 3.3, 333, 0.3, 'joyal', 'true', 'newvalue', 'newvalue']

In [ ]:
#list will allow the duplicate values
mylist.append(1)
print(mylist)

[1, 3.3, 333, 0.3, 'joyal', 'true', 'newvalue', 'newvalue', 1]

In [ ]:
print (len(mylist))

9

In [ ]:
#in list we can delete bcz it is mutable
list=[1,2,333,'fddfd']
print(list)
del list[3]
print(list)

[1, 2, 333, 'fddfd']
[1, 2, 333]

In [ ]:
#join two list
list1=[1,2,333]
list2=[1,2,33]

list4=list1+list2
print(list4)

[1, 2, 333, 1, 2, 33]

#TUPLE ITS IMMUTABLE

In [ ]:
#Tuple allows multiple datatypes
tple=(1,2,23,'edrew')
print(tple)

(1, 2, 23, 'edrew')

In [ ]:
#convert a list into a tuple
mylist=[12,2,34]
mytuple=tuple(mylist)
print(mytuple)

(12, 2, 34)

#set mutable {}--set does NOT have index values.--set does not allow duplicate values

In [1]:
myset={1,2,3,43}
print(myset)

{1, 2, 3, 43}

#DICTIONARY ---
A dictionary is a collection of data in key–value pairs.

In [2]:
my_dict={"name":"joyal","age":"33","place":"mvp"}
print(my_dict)

{'name': 'joyal', 'age': '33', 'place': 'mvp'}

HERE NAME IS THE KEY AND THE JOYAL IS THE VALUE OR WE CAN SAY IT IS THE ELEMENT

#Python has 6 main types of operators

1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Assignment Operators
5. Bitwise Operators
6. Membership / Identity Operators

#if else STATEMENT
if condition:
    # code runs when condition is True
else:
    # code runs when condition is False


NESTED IF STATEMENT
if condition1:
    # code if condition1 is True
    if condition2:
        # code if condition2 is True
    else:
        # code if condition2 is False
else:
    # code if condition1 is False

#LOOPS IN PYTHONE

A loop is used to repeat a block of code multiple times until a condition is met.

Python has 2 main types of loops:

for loop → used when you know how many times to repeat

while loop → used when you want to repeat until a condition becomes False

In [5]:
lap2=int(input("enter the price "))
lap3=int(input("enter the price "))
lap4=int(input("enter the price "))

#To do this above action what we can do is using loop

enter the price 3
enter the price 3
enter the price 3
enter the price 4

In [8]:
for i in range(5):
  laptoprice=int(input("enter the price of laptop"))

enter the price of laptop3
enter the price of laptop3
enter the price of laptop3
enter the price of laptop3
enter the price of laptop2

#while loop
Syntax:

while condition:
    # code to execute

In [22]:
i = 0
while i < 7:
   print(i)
   i+=1

0
1
2
3
4
5
6

#FUNCTIONS
A function is a block of reusable code that performs a specific task.
Reusability – write once, use many times

Modularity – breaks code into smaller parts

Easy to debug – easier to find errors

Makes code readable

In [25]:
def greet(name="Friend"):
    print("Hello,", name)

greet("Joyal")
greet()   # uses default value
# Think of a function as a machine:

# You give it some input (ingredients) → it does something → it gives output.

# In our example, the function is greet.

# Input: name

# Job: print "Hello, name"

# Output: message on the screen

Hello, Joyal
Hello, Friend